<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>
<div class="topnav">
  <div class="search-container">
    <form>
      <input type="text" placeholder="Keyword" name="search" />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <h5>Resource catalog</h5>

  <div class="dropdown">
    <div class="dropbtn"><i class="fas fa-plus-square orange fa-lg"></i></div>
    <div class="dropdown-content">
      <a href="#">Link 1</a> <a href="#">Link 2</a> <a href="#">Link 3</a>
    </div>
  </div>
</div>
