<app-header></app-header>
<app-navbar></app-navbar>

<!-- parent container for the two rows inside -->
<div class="container">
  <!-- child container that contains two column -->
  <div class="child">
    <div class="child__scope">
      <table>
        <th> Project Scope Fields </th>
        <tr>
          <td> name </td>
          <td> <input type="checkbox"> </td>
        </tr>
        <tr>
          <td> cost_code </td>
          <td> <input type="checkbox"></td>
        </tr>
        <tr> 
          <td> editable </td>
          <td> <input type="checkbox"></td>
        </tr>
        <tr>
          <td> item_id</td>
          <td> <input type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="child__survey">
      <h3> Quantity Survey Fields </h3>
    </div>
  </div>
  <!-- second flex -->
  <div class="childTwo">
    
  </div>
</div>