<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<div><app-header></app-header></div>
<app-navbar></app-navbar>

<!-- parent container for the two rows inside -->

<div class="container">
  <!-- child container that contains two column -->

  <div class="child">
    <!-- left table -->

    <div class="child__scope">
      <table class="tableLeft">
        <tr>
          <td style="font-weight: bold;">Project Scope Fields</td>
          <td></td>
        </tr>

        <!-- <tr *ngFor = "let row of rowList; let i = index">
          <td>{{row.title}}</td>
          <td><input [(ngModel)] = "check" type="checkbox"></td>
        </tr> -->

        <tr>
            <td>name</td>
            <td><input type="checkbox"></td>
          </tr>

        <tr>
          <td>cost_code</td>
          <td><input (click) = "changeValue()" [(ngModel)] = "checkCode" type="checkbox" /></td>
        </tr>

        <tr>
          <td>editable</td>
          <td><input type="checkbox" /></td>
        </tr>

        <tr>
          <td>item_id</td>
          <td><input (click) = "changeValue()" [(ngModel)] = "checkId" type="checkbox" /></td>
        </tr>
      </table>
    </div>

    <!-- right table -->

    <div class="child__survey">
      <table class="tableRight">
        <td style="background-color: rgb(189, 186, 186);">
          Quantity Survey Fields
        </td>
      </table>

      <!-- right table body -->

      <table class="tableRight">

        <!-- the field that users can add into the table -->

        <tr *ngFor = "let data of fieldArray; let i = index">

          <td> Field <br/>
            <input type="text" (keydown.enter)="templateArray($event)" class="rightInput"/>
          </td>

          <td>
            Type <br />
            <select (change)="changeOption($event)">
              <option value="Number"> Number </option>
              <option value="Text"> Text </option>
              <option value="Formula"> Formula </option>
            </select>
          </td>

          <td *ngIf="hideFormula">
            Formula <br />
            <input type="text" [(ngModel)]="formulaInput" class="rightInput" />
          </td>

          <td>
            <button (click)="removeField(i)" style="width: 30px; height: 30px;">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </table>

      <!-- button of add field -->

      <div style="width: 100%; background-color: green;">
        <div style="float: right;">
          <label style="margin-right: 5px;">Add Field</label>

          <button (click)="addField()" style="width: 30px; height: 30px;">
            <i class="fas fa-plus "></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom -->

  <div class="childTwo"></div>
</div>

<div style=" width: 80%; margin: 25px auto;">

  <button type="submit"
          style="width: 20%; float: right; padding: 8px 0;"
          routerLink="/formula"
          (click)="save(); sendIfChange()"> Save </button>
</div>
