table {
  margin-top: 0.5%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.wrapper {
  width: 95%;
  margin-top: 5%;
  margin-left: 5%;
  display: inline-block;
}

th {
  text-align: center;
  background-color: #dddddd;
  font-size: 14px;
}
/* ------------------------ */
* {
  box-sizing: border-box;
}

/* body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    } */

.topnav {
  overflow: hidden;
  background-color: #584d4d94;
  padding: 2px;
  display: block;
  width: 80%;
}

h3 {
  text-align: center;
  padding: -2px;
}
.topnav {
  padding-bottom: -2px;
}

input[type='checkbox'] {
  margin: 10px;
}

.fa-trash-alt:before {
  color: #ffa500;
  position: relative;
  top: 75%;
  left: 980%;
}

.fa-trash-alt:hover {
  text-shadow: 2px 2px 4px #000000;

  cursor: pointer;
}

.topnav:hover,
table:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button {
  background-color: #ff5500e8;
  text-decoration: none;
  width: 189px;
  height: 36px;
  border: none;
  color: white;
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 31px;
  cursor: pointer;
  margin-bottom: 5%;
  outline: none;
}

button:hover {
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
}

tr:hover {
  background-color: #584d4d4f;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
