<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<div class="wrapper">
  <div class="topnav">
    <h3>Project <i class="far fa-trash-alt"></i></h3>
  </div>
  <table>
    <tr>
      <th>PROJECT NAME</th>
      <th>PROJECT CODE</th>
    </tr>

    <!-- loops through the ARRAY received from the PARENT component -->
    <tr *ngFor="let data of datas; let i = index">
      <!-- <span *ngFor="let data of item"> -->
      <td value="i">
        <input
          (click)="deleteRowIndex($event.target.value); saveArray(data)"
          type="checkbox"
          name="checked"
          value="{{data._id}}"
        />
        {{ data.resource }}
      </td>
      <td attr.data-value="{{data[1]}}">{{ data.code }}</td>
      <!-- </span> -->
    </tr>
  </table>
</div>

<button
  (click)="newMessage()"
  routerLink="/formula"
  type="button"
  class="login"
>
  Submit
</button>
