<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<div class="wrapper">
  <div class="topnav">
    <h3>Project <i class="far fa-trash-alt" (click)="deleteRow()"></i></h3>
  </div>
  <table>
    <tr>
      <th>PROJECT NAME</th>
      <th>PROJECT CODE</th>
    </tr>

    <!-- loops through the ARRAY received from the PARENT component -->
    <tr *ngFor="let data of datas; let i = index">
      <td value="i" >
        <input (click)="deleteRowIndex(i); saveArray(data)"  type="checkbox" name="checked" value="{{data[0]}}"/> {{data[0]}}
      </td>
      <td attr.data-value={{data[1]}} >{{ data[1] }}</td>
    </tr>
  </table>

  <p> {{message}}</p>

  <!-- {{ datas | json }} -->
</div>

<button (click)="newMessage()"> CLICK SEND WOAW</button>

<div *ngFor="let data of datas"> {{ data[2]}}</div>
