<app-header></app-header>
<app-navbar></app-navbar>

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<div class="wrapper">
  <app-search-bar></app-search-bar>
  <table *ngIf="users; else: emptyDb">
    <tr>
      <th>Resource Name</th>
      <th>Resource Code</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.resource }}</td>
      <td>{{ user.code }}</td>
    </tr>

<!--  <tr>
  <td> <input [(ngModel)]="resName"></td>
  <td> {{resName}}</td>
</tr> -->

  </table>

  <!-- <form #addForm="ngForm">
          <td> <input name="resName" [(ngModel)]="resName" value="{{resName}}" type="text" placeholder="Resource name"> </td>
          <td> <input name="resCode" [(ngModel)]="resCode" value="{{resCode}}" type="text" placeholder="Resource name"> </td>  
          <button (click)="addFormFunc(addForm)"> Add </button>  
    </form>
</div> -->
<ng-template #emptyDb>
  <h1>Your Database is currently empty or your not properly connnected to it.</h1>
  </ng-template
>
