<app-header></app-header>
<app-navbar></app-navbar>

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<div class="wrapper">
  <app-search-bar></app-search-bar>
  <table *ngIf="users; else: emptyDb">
    <tr>
      <th>Resource Name</th>
      <th>Resource Code</th>
    </tr>
    <tr *ngFor="let user of users.data">
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
    </tr>
  </table>
</div>
<ng-template #emptyDb
  ><h1>
    Your Database is currently empty or your not properly connnected to it.
  </h1>
  .</ng-template
>
