<app-header></app-header>
<app-navbar></app-navbar>

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<div class="wrapper">
  <!-- <app-search-bar></app-search-bar> -->
  <table>
    <tr>
      <th>Resource Name</th>
      <th>Resource Code</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>0200001</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>0400001</td>
    </tr>
    <tr>
      <td>Ernst Handel</td>
      <td>0200031</td>
    </tr>
    <tr>
      <td>Island Trading</td>
      <td>0330001</td>
    </tr>
    <tr>
      <td>Laughing Bacchus Winecellars</td>
      <td>0666601</td>
    </tr>
    <tr>
      <td>Magazzini Alimentari Riuniti</td>
      <td>0330001</td>
    </tr>
  </table>
</div>
