
  <div style = "border-bottom: 2px solid black">
    <span>
      <img class="logo" src="http://placehold.it/150x60" alt="logo" style = "padding-top: .5rem">
    </span>
    <span style="width: 60%;"> <h1>Project1</h1> </span>
    <span class = "headerIcon" >
      <a src = "localhost:4200/login"><i class="fas fa-user-circle fa-2x" style = "margin: 0 .5rem"></i></a>
      <label style = "margin: 0 .5rem"> Cost Manager </label>
      <i class="fas fa-question-circle fa-2x" style = "margin: 0 .5rem"></i>
    </span>
  </div>

