
<app-header></app-header>
<app-navbar></app-navbar>

<div class="fix">
   <!-- first table -->
  <div class="fix__first">
    <!-- header -->
    <div class="topnav">
      <!-- headers child div first -->
      <div class="topnav__header">
        <h3>Resource Catalog</h3>
      </div>
      <!-- headers child div second -->
      <div class="topnav__icons">
        <!-- first icon -->
        <span class="exportx">
          <i class="fas fa-file-export  orange" (click)="transferToChild()"></i>
        </span>
        <!-- second icon -->
        <div class="iconx">
          <div class="dropdown" (click)="show = !show">
            <span class="list"><i class="fas fa-list-ul orange "> </i></span>
            <div class="dropdown-content" *ngIf="show">
              <a (click)="checkallrecords()"> <input type="checkbox" name="checked" /> Select All </a>
              <a (click)="checkAll = false"> <input type="checkbox" name="checked" /> Clear Selection </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- table -->
      <table>
        <tr>
          <th>PROJECT NAME</th>
          <th>PROJECT CODE</th>
        </tr>
    
        <tr *ngFor="let data of dataProject">
          <td>
            <input
              (click)="transferPick($event)"
              type="checkbox"
              name="checked"
              value="{{data._id}}"
              />
            {{ data.resource }} <br />
          </td>
          <td>{{ data.code }}</td>
        </tr>
      </table>
    </div>

    <!-- second table -->
    <!-- the child component is attached with an [datas] for @Input communication -->
  <div class="fix__second">
    <app-project2-table [datas]="dataArray"></app-project2-table>
  </div>
</div>
<!-- parent contianer -->





