
/* fix */
.fix{
  display: flex;
}

.fix__first{
  width: 50%;
}

.fix__second{
  width: 50%;
}

/* header of the first table */

.topnav {
  display: flex;
  background-color: #584d4d94;
  width: 70%;
  margin-top: 5%;
}
.topnav__header h3{
  text-align: center;
  transform: translateX(110%);
}

.topnav__icons{
  display: flex;
  align-items: center;
  transform: translateX(15rem);
}


table {
  margin-top: 0.5%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  background-color:#dddddd;
}


