<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<app-header></app-header>
<app-navbar></app-navbar>

<div class="wrapper">
  <div class="topnav">
    <h3>Resource Catalog</h3>
    <span class="exportx"><i class="fas fa-file-export  orange"></i></span>
    <div class="iconx">
      <div class="dropdown" (click)="show = !show">
        <span class="list"><i class="fas fa-list-ul orange "> </i></span>
        <div class="dropdown-content" *ngIf="show">
          <a><input type="checkbox" value="a" name="checked" />Select All</a>
          <a href="#"
            ><input type="checkbox" value="a" name="checked" />Clear
            Selection</a
          >
        </div>
      </div>
    </div>
  </div>
  <table>
    <tr>
      <th>PROJECT NAME</th>
      <th>PROJECT CODE</th>
    </tr>

    <tr>
      <td>
        <input type="checkbox" value="a" name="checked" checked />Alfreds
        Futterkiste
      </td>
      <td>0200001</td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" value="a" name="checked" />Centro comercial
        Moctezuma
      </td>
      <td>0400001</td>
    </tr>
    <tr>
      <td><input type="checkbox" value="a" name="checked" />Ernst Handel</td>
      <td>0200031</td>
    </tr>
    <tr>
      <td><input type="checkbox" value="a" name="checked" />Island Trading</td>
      <td>0330001</td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" value="a" name="checked" />Laughing Bacchus
        Winecellars
      </td>
      <td>0666601</td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" value="a" name="checked" />Magazzini Alimentari
        Riuniti
      </td>
      <td>0330001</td>
    </tr>
  </table>
</div>
<div class="container"><app-project2-table></app-project2-table></div>
