<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<app-header></app-header>
<app-navbar></app-navbar>

<div class="wrapper">
  <div class="topnav">
    <h3>
      Resource Catalog
      <span class="exportx"><i class="fas fa-list-ul orange"></i></span>
      <span class="list"><i class="fas fa-file-export orange " (click)="transferToChild()"> </i></span>
    </h3>
  </div>
  <table>
    <tr>
      <th>PROJECT NAME</th>
      <th>PROJECT CODE</th>
    </tr>

    <tr *ngFor="let data of dataProject" >
      <td  >
        <input (click)="transferPick($event.target.value)" type="checkbox" name="checked" value="{{data.resource}},{{data.code}}"/>
        {{data.resource}}
        <br>
      </td>
      <td> {{ data.code }}</td>
    </tr>
  </table>
</div>

<!-- the child component is attached with an [datas] for @Input communication -->
<div class="container"><app-project2-table [datas]="dataArray"></app-project2-table></div>
