table {
  margin-top: 0.5%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table__scroll {
  height: 30rem;
  overflow: scroll;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.wrapper {
  width: 85%;
  margin: 6% auto;
  position: absolute;
  top: 84px;
  left: 51px;
}
th {
  text-align: center;
  background-color: #dddddd;
}
/* ------------------------ */
* {
  box-sizing: border-box;
}
.topnav {
  overflow: hidden;
  background-color: #584d4d94;
  padding: 5px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196f3;
  color: white;
}

.topnav .search-container {
  float: left;
}

.topnav input[type='text'] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: orange;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #f3282185;
}
h5 {
  text-align: center;
  padding: -2px;
}
.topnav {
  padding-bottom: -2px;
}

.orange {
  color: orange;
  background: black;
  margin-top: -3%;
  float: right;
  margin-right: 2%;
}
.orange:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
input[type='text'],
input[type='number'] {
  width: 94%;
  height: 36px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ffa600;
  font-size: 20px;
  text-align: center;
}
input[type='text']:focus,
input[type='number']:focus {
  background-color: #ffff0057;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.enterNDiscard {
  background-color: #ff5500e8;
  text-decoration: none;

  width: 283px;
  height: 36px;
  border: 2px solid #00000069;
  color: white;
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 5%;
  outline: none;
}
.enterNDiscard:hover {
  background-color: #ff5500e8;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* pagination */
.pagination {
  display: inline-flex;
  transform: translateX(123%);
}

.pagination a,
.pagination option {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination option:hover {
  cursor: pointer;
  color: #ff5500e8;
}
