<app-header></app-header>
<app-navbar></app-navbar>

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<div class="wrapper">

  <!-- search bar -->

  <app-search-bar (notify)=onNotifyClicked() (typingString)="getData($event)"></app-search-bar>

  <table *ngIf="users; else: emptyDb">
    <tr>
      <th>Resource Name</th>
      <th>Resource Code</th>
    </tr>
    <tr *ngFor="let user of users | filter : searchText">
      <td>{{ user.resource }}</td>
      <td>{{ user.code }}</td>
    </tr>

    <!-- hidden content -->

    <tr *ngIf="status">
      <td>
        <input
          [(ngModel)]="resourceName"
          type="text"
        />
      </td>
      <td>
        <input
          type="number"
          [(ngModel)]="resourceCode"
        />
      </td>
    </tr>
    <tr *ngIf="status">
      <button
        type="button"
        class="enterNDiscard"
        (click)="addForm()"
      >
        Enter
      </button>
      <button
        type="button"
        class="enterNDiscard"
        (click)="onDiscard()"
      >
        Discard
      </button>
    </tr>
  </table>

  <div  (click)="onChange($event.target.value)"class="pagination">
    <a>&laquo;</a>
    <option  value="1">1</option>
    <option  value="2">2</option>
    <option  value="3">3</option>
    <option  value="4">4</option>
    <option  value="5">5</option>
    <option  value="6">6</option>
    <a>&raquo;</a>
  </div>

  <select (change)="onSelectChange($event.target.value)">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
  </select>

  <ng-template #emptyDb>
    <h1>
      Your Database is currently empty or your not properly connnected to it.
    </h1>
  </ng-template>
</div>


