<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<app-header></app-header>
<app-navbar></app-navbar>

<div class="wrapper">
  <div class="tableTitle">
    <h3 style="color: white; ">QUANTITY SURVEY</h3>

    <p>{{ message }}</p>
  </div>

  <table>
    <tr>
      <th>Resource Name</th>
      <th>Resource Code</th>
      <th>Item ID</th>
      <th *ngFor="let title of templateArray; let i = index"> {{ title }} </th>
    </tr>

    <tr *ngFor="let data of dataProject; let i = index">

      <td *ngIf = "i === editRowID"> 
        <input type = "text" [(ngModel)] = "data.resource" (keydown.enter)="submitUpdate(data)"/> 
      </td>
      <td *ngIf = "i !== editRowID" (click) = "checkEditRow(i)"> {{ data.resource}} <br/></td>


      <td *ngIf = "i === editRowID">
        <input type = "text" placeholder="{{ data.code }}" [(ngModel)]= "data.code" (keydown.enter)="submitUpdate(data)"/>
      </td>
      <td *ngIf = "i !== editRowID" (click) = "checkEditRow(i)">{{ data.code }}</td>

      <td> {{ data._id}}</td>

      <td *ngFor="let values of templateArray; let i = index"> <input/> </td>
    </tr>
  </table>

  <div style=" width: 90%; margin: 25px auto;">
    <a href="#" style="font-weight: bold;" routerLink="/template"> Edit Quantity Survey Template </a>

    <button type="submit" routerLink="/resource"><i class="fas fa-check"></i> Submit</button>
  </div>
</div>

