<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<app-header></app-header>
<app-navbar></app-navbar>


<div class="wrapper">  

  <div class = "tableTitle">
    <h3 style = "color: white; margin: .5em .3em;">QUANTITY SURVEY</h3>
  </div>

  <table>
    <tr>
      <th>Resource Name</th>
      <th>Resource Code</th>
    </tr>    
    <tr *ngFor="let data of dataProject; let i = index">
      <td  >
        <input type="checkbox" name="checked" value="{{data.resource}},{{data.code}}"/>
        {{data[0]}}
        <br>
      </td>
      <td> {{ data[1] }}</td>
    </tr>    
  </table>

</div>

{{ dataProject }}

<div *ngFor="let data of dataProject">  hi {{ data[2]}}</div>