<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>

<app-header></app-header>
<app-navbar></app-navbar>

<div class="wrapper">
  <div class="tableTitle">
    <h3 style="color: white; margin: .5em .3em;">QUANTITY SURVEY</h3>

    <p>{{ message }}</p>
  </div>

  <table>
    <tr>
      <th>Resource Name</th>
      <th>Resource Code</th>
    </tr>
    <tr *ngFor="let data of dataProject; let i = index">

      <td *ngIf = "i === editRowID"><input type = "text" placeholder="{{ data.resource}}" [(ngModel)] = "updateResource"> </td>
      <td *ngIf = "i !== editRowID" (click) = "checkEditRow(i)"> {{ data.resource}} <br/></td>

      <td *ngIf = "i === editRowID"><input type = "text" placeholder={{ data.code }} = "updateCode"> </td>
      <td *ngIf = "i !== editRowID" (click) = "checkEditRow(i)">{{ data.code }}</td>

    </tr>
  </table>

  <div>
    <pre>
      {{dataProject | json}}
    </pre>
  </div>

  <div style=" width: 90%; margin: 25px auto;">
    <a href="#" style="font-weight: bold;"> Edit Quantity Survey Template </a>

    <button type="submit" (click) = "submitUpdate()"><i class="fas fa-check"></i> Submit</button>
  </div>
</div>

{{ dataProject }}

<div *ngFor="let data of dataProject">  hi {{ data[2]}}</div>
